apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-tracker
  labels:
    app: speedtest-tracker
spec:
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  replicas: 1
  selector:
    matchLabels:
      app: speedtest-tracker
  template:
    metadata:
      labels:
        app: speedtest-tracker
    spec:
      containers:
        - name: speedtest-tracker
          image: lscr.io/linuxserver/speedtest-tracker:1.6.11
          envFrom:
            - configMapRef:
                name: speedtest-tracker-config
            - secretRef:
                name: speedtest-tracker-db-secret
          resources:
            requests:
              memory: "128Mi"  # Minimum memory requested
              cpu: "100m"      # Minimum CPU requested
            limits:
              memory: "256Mi"  # Maximum memory allowed
              cpu: "500m"      # Maximum CPU allowed
          volumeMounts:
            - name: config-volume
              mountPath: /config
          ports:
            - containerPort: 80
      volumes:
        - name: config-volume
          persistentVolumeClaim:
            claimName: speedtest-tracker-pvc
      restartPolicy: Always
