apiVersion: v1
kind: Secret
metadata:
  name: speedtest-tracker-db-secret
type: Opaque
stringData:
  DB_HOST: ""  # Hostname or IP address of the database server
  DB_PORT: ""  # Port number for the database connection
  DB_DATABASE: ""  # Name of the database to use
  DB_USERNAME: ""  # Username for database authentication
  DB_PASSWORD: ""  # Password for database authentication
